
/*this is to change the bg colour*/
body{
    background-color:#d1edff;
}

/* this is for our read me box*/
.about{
    width:150px;
    height:40px;
    background-color: aliceblue;
    margin-top:10px;
    font-family: cursive;
    color:rgb(8, 206, 206);
    font-size: 19px;
    text-align: center;
} 

/* this is to blend our link to inside the box*/
a{
    text-decoration: none;
    color:inherit
}

/* this is the main heading */
h1{
    color:rgb(15, 119, 184);
    font-size:50px;
    margin :10px;
}

/* this is for the subheading*/
p{
    color:rgb(8, 81, 57);
    margin:16px;
}

/* this is for the box that carries the heading*/
.box{
    width:300px;
    min-height:140px;
    background-color:#f3f5f7;
    padding:30px;
    font-family:cursive;
    border-radius: 48px;
    margin: 2% 35%;
    position: relative
}

/* this is for the wave line*/
#wave{
    width:80%;
    height:800px;
    background-color: #f3f5f7;
    margin: 80px 120px;
    border-radius:43px;
    font-family:cursive

}

/* this is for the amplitude box*/
.abox{
    width:200px;
    height:40px;
    background-color: #ffffff;
    font-size: 19px;
    font-family: cursive;
    border-radius: 26px;
    text-align: center;
    margin: -5px 30px;
}

/* this is for the typing inside the abox*/
#ainput{
    width:45px;
    height:20px;
    font-size:17px
}

/* this is for the frequency box*/
.fbox{
    width:200px;
    height:40px;
    background-color: #ffffff;
    font-size: 19px;
    font-family: cursive;
    border-radius: 26px;
    text-align: center;
    margin: -5px 30px;
}

/* this is for the txt inside the fbox*/
#finput{
    width:45px;
    height:20px;
    font-size:17px
}

/* this is for the wavelength box*/
.wlbox{
    width:200px;
    height:40px;
    background-color: #ffffff;
    font-size: 19px;
    font-family: cursive;
    border-radius: 26px;
    text-align: center;
    margin: -5px 30px;
}

/* this is to write the input for the wlvox*/
#wlinput{
    width:45px;
    height:20px;
    font-size:17px
}

/* this is the box that carries all the value */

.handlebox{
    width:800px;
    height:50px;
    background-color: rgb(238, 242, 245);
    border-radius: 48px;
    padding-top: 30px;
    margin:-10px auto;
    display:flex;
}
